<h1>
  <b><%=h @m33object.fileid.upcase %></b> <!--(<%=h @iclst+1 %> out of <%=h @m33brick.numberall %>)-->
</h1>

<% if flash[:message] %>
  <div><%= flash[:message] %></div>
<% end %>

<!-- Navigation -->
<p>
<% if not (@pm33object.nil?) %><%= link_to '<< Previous Object', m33object_path(@pm33object), :accesskey => "p" %><% end %>
<% if not (@nm33object.nil?) %><%= link_to 'Next Object >>', m33object_path(@nm33object), :accesskey => "n" %><% end %>
</p>
<p>
<%= link_to 'Back to Object Index', m33brick_path(@m33brick) %>
</p>

<!-- Basic Data Table -->
<table>
  <tr>
    <th>RA</th>
    <th>Dec</th>
    <th>Subimage</th>
    <th>Radius(")</th>
    <th>EffRadius(")</th>
    <th>ViewFrac</th>
    <th>CFrac</th>
    <th>Wght ClstFrac</th>
  </tr>
  <tr>
    <td><%=h @m33object.ra %></td>
    <td><%=h @m33object.dec %></td>
    <td><%=h @m33object.subimg %></td>
    <td><%=h @m33object.radius_arcsec %></td>
    <td><%=h @m33object.radius_eff_arcsec %></td>
    <td <%=h @m33object.prioritycolor %> ><%=h @m33object.viewfrac %></td>
    <td <%=h @m33object.prioritycolor %> ><%=h @m33object.cfrac %></td>
    <td <%=h @m33object.weightedcolor %> ><%=h @m33object.newclstfrac %></td>
  </tr>
</table>
<br />

<!-- Imaging -->
<table>
  <tr>
  	<th>Color</th>
  	<th>475</th>
<!--  	<th>814</th>
  	<th>275</th>
  	<th>336</th>
  	<th>110</th>
 	  <th>160</th> -->
  </tr>
  <tr>
  	<td><%= image_tag(@m33object.image_color, :height => '200') %></td>
  	<td><%= image_tag(@m33object.image_475, :height => '200') %></td>
<!--  	<td><%= image_tag(@m33object.image_814, :height => '200') %></td>
   	<td><%= image_tag(@m33object.image_275, :height => '200') %></td>
  	<td><%= image_tag(@m33object.image_336, :height => '200') %></td>
  	<td><%= image_tag(@m33object.image_110, :height => '200') %></td>
  	<td><%= image_tag(@m33object.image_160, :height => '200') %></td> -->
  </tr>
</table>
<br />

<!-- Images -->
<%= image_tag(@m33object.cmd_image, :height => '300') %>
<%= image_tag(@m33object.sed_image, :height => '300') %>
<br />

<!-- IntFit Images -->
<%= image_tag(@m33object.intfit_pdf, :height => '200') %>
<%= image_tag(@m33object.intfit_pdf2d, :height => '200') %>
<br />

<!-- CMD Fit Data -->
<table>
  <tr>
    <th>Best log(Age)</th>
    <th>Best log(Mass)</th>
    <th>Best AV</th>
    <th>Best BG Scaling</th>
  </tr>
  <tr>
    <td><%=h @m33object.bestfit_age %></td>
    <td><%=h @m33object.bestfit_mass %></td>
    <td><%=h @m33object.bestfit_av %></td>
    <td><%=h @m33object.bestfit_bgsf %></td>
  </tr>
</table>
<br />

<!-- Fit Images -->
<%= image_tag(@m33object.fit_cmd, :height => '300') %>
<br />
<%= image_tag(@m33object.fit_pdf, :height => '350') %>
<br />
<%= image_tag(@m33object.fit_cmd_residual, :height => '350') %>
<br />

<!-- Navigation -->
<p>
<% if not (@pm33object.nil?) %><%= link_to '<< Previous Object', m33object_path(@pm33object), :accesskey => "p" %><% end %>
<% if not (@nm33object.nil?) %><%= link_to 'Next Object >>', m33object_path(@nm33object), :accesskey => "n" %><% end %>
</p>
<p>
<%= link_to 'Back to Object Index', m33brick_path(@m33brick) %>
</p>
